body {
  background-color: #f8f8f8;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: timesnewroman;
  font-size: 18px;
  color: #000000;
}

.navbar {
  background-color: #ffffff;
  position: fixed;
  width: 200%;
  top: 0;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar li {
  float: left
}

.navbar li a {
  display: inline-block;
  border: #000000;
  padding: 14px 16px;
}
.active{
  background-color: aquamarine;
}
