body {
  background-color: #575757;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: timesnewroman;
  font-size: 18px;
  color: #48cc81;
}

.navbar {
  background-color: #363636;
  position: fixed;
  width: 200%;
  top: 0;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar li {
  float: left
}

.navbar li a {
  display: inline-block;
  border: #000000;
  padding: 14px 16px;
}

.navbar li a:hover:not(.active) {
  background-color: #3e3e3e;
}

.active{
  background-color: #48cc81;
}

.noUnderline {
  text-decoration: none;
  color: aliceblue
}
